<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content=" full stack developer, web developer, programmatistis,
        istoselida, kataskeui istoselidas, προγραμματιστής, ιστοσελίδα, κατασκευή ιστοσελίδας,
        δημιουργία ιστοσελίδας, δημιουργία ιστοσελίδας Βερολίνο, e-shop ">
        <link rel="stylesheet" href="stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Angeliki</title>
    </head>
    <main>
        <div id="header">
            <div id="navigation">
                <div class="container">
                    <div class="navigationBar">
                        <div class="navigationName">
                            Angeliki Patrinou
                        </div>
                        <div class="menuItems">
                            <a class="menuItem" href="#aboutAngeliki" style="color:rgba(255,255,255,0.8)">
                                about
                            </a>
                            <a class="menuItem" href="#projectsBlock" style="color:rgba(255,255,255,0.8)">
                                work
                            </a>
                            <a class="menuItem" href="#contactBlock" style="color:rgba(255,255,255,0.8)">
                                contact
                            </a>
                            <div class="borderLine menuItem">
                            </div>

                            <a class="menuIcon githubIcon"
                                href="https://github.com/patrinoua/"
                                target="_blank">
                                <img src="assets/github.png" />
                            </a>
                            <a class="menuIcon linkedinIcon"
                                href="https://www.linkedin.com/in/patrinoua/"
                                target="_blank">
                                <img src="assets/linkedinIcon.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="aboutMeSection">
                <div class="container">
                    <div class="slideshow_caption">
                        <h2>Full Stack Developer</h2>
                    </div>
                </div>
            </div>
        </div>

            <!-- <a class="sectionBox left1 aboutMeButton"> About me </a> -->
        <div id="aboutAngeliki">
            <div class="container">
                <div class="aboutAngelikiBlock">
                    <div class="contentTitle">
                        About
                    </div>
                    <div class="aboutAngelikiContent">
                        <div class="aboutAngelikiPicture">
                        </div>
                        <div class="aboutAngelikiContentRight">
                            I am a Full Stack Developer, based in Berlin.
                            I have studied Applied Mathematics and Management, and my professional experience includes online marketing and dynamical systems consulting.
                            I like creating websites that work well and feel good, by using the latest technologies.
                            <!-- She finds interest in complexity and beauty in simplicity. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="projectsBlock">
            <div class="contentTitle">
                Projects
            </div>
            {{{body}}}
        </div>
        <div id="contactBlock">
            <div class="contactForm">
                <div class="contentTitle">
                    Contact
                </div>
                <div>
                    patrinoua@gmail.com
                </div>
                <div>
                    +49 15734558931
                </div>
                <div class="inARow">
                    <a class="bigIcon githubIcon"
                        href="https://github.com/patrinoua/"
                        target="_blank">
                        <img src="assets/github.png" />
                    </a>

                    <a class="bigIcon linkedinIcon"
                        href="https://www.linkedin.com/in/patrinoua/"
                        target="_blank">
                        <img src="assets/linkedinIcon.png" />
                    </a>
                </div>
            </div>
        </div>

        <div id="footer">
            <span class="container copyright">© Copyright - Angeliki Patrinou </span>
        </div>
    </div>

        <script type="text/javascript" src="script.js"></script>

    </main>
</html>
