@media (min-width: 1300px) {
  .aboutAngelikiContent {
    width: 90%;
  }
  #square {
    width: 45%;
  }
  .aboutTitle {
    padding-bottom: 5vh;
  }
  #profilePic {
    width: 450px;
    height: 450px;
  }

  .navigationName {
    font-size: 3em;
  }
  .slideshow_caption {
    display: flex;
    align-items: center;
    font-size: 1.9em;
    width: auto;
    margin-right: 100px;
  }
  .menuIcon {
    transform: scale(1.5);
  }
  .menuItem,
  .languageItem {
    font-size: 1.6em;
  }
  .contentTitle {
    font-size: 4em;
  }
  .smallContentTitle {
    font-size: 3em;
  }
  aboutAngelikiContentRight .projectInfoText {
    font-size: 1.4em;
  }
  .regularText {
    font-size: 1.4em;
  }
  .contactForm {
    font-size: 1.4em;
  }
  #footer {
    font-size: 1.4em;
  }
}

@media (max-width: 750px) {
  .regularText {
    font-size: 1em;
  }
  #square,
  #circle {
    width: auto;
    height: auto;
    margin: 50px 0;
  }
  #square {
    width: 90%;
    margin-top: 0px;
    margin-left: 0;
  }
  #header {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.66);
  }
  #navigation {
    width: 99%;
  }
  .contentTitle {
    padding-top: 5vh;
  }
  .menuItem {
    display: none;
  }
  .slideshow_caption {
    width: 80%;
    display: flex;
    align-items: center;
  }
  .slideshow_caption h2 {
    font-size: 3em;
  }
  #aboutMeSection {
    margin: 50px 0;
    flex-direction: column;
  }
  .aboutAngelikiBlock .contentTitle {
    display: none;
  }
  #profilePic {
    width: 300px;
    height: 300px;
    margin: 30px 0;
  }
  .aboutAngelikiContent {
    flex-direction: column;
    height: auto;
    width: 90%;
    /* background: orange; */
  }
  .aboutAngelikiPicture {
    transform: scale(0.9);
    /* margin-top: 130px; */
  }
  .navigationName {
    font-size: 20px;
  }
  .menuItem {
    font-size: 14px;
  }
  .projectSectionText {
    align-items: center;
    margin-bottom: 2vh;
  }
  .spanWithSpaceUnder {
    padding-bottom: 20px;
    text-align: center;
  }
  .projectSectionImg {
    opacity: 1;
    height: 50vh;
    /* background-color: green; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
  }
  .projectInfoText {
    padding: 17px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .linkMobile {
    /* background-color: green; */
    font-size: 0.75em;
  }
  #footer {
    font-size: 0.8em;
  }
}
@media (max-width: 400px) {
  .regularText {
    font-size: 1em;
  }
  #circle {
    transform: scale(0.65);
  }
  #profilePic {
    margin: 0;
  }
}
